
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@300;400&family=Roboto&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 
    'Ubuntu',  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 19px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body {
  margin: 0;
  height: 100%;
  background-color: white;
}

body * {
  box-sizing: border-box;
}

#root {
  width: 50%;
  height: 300px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  /* margin-top: 40px; */
  width: 85%;
  /* height: 523px; */
  height: fit-content;
  /* margin: auto; */
  margin: 45px auto 80px 40px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 25px;
}

input {
/* font-family: 'Inter'; */
  font-size: 18px;
  line-height: 19px;
  height: 43px;
  border: 1px solid #C7C7C7;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin: 10px;
  width: 60%;
/*   aline-self: rigth */
/*   text-align: right; */
}

label {
/* font-family: 'Inter'; */
  /* font-size: 16px;
  line-height: 19px; */
  letter-spacing: 0.02em;
  color: #146bbd;
  margin-bottom: 15px;
  width: 30%;
  margin: auto;
}

button {
  width: 50%;
  /* width: auto; */
  height: 59px;
  background: #5970FF;
  border-radius: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin: auto;
  cursor: pointer;
}

form div {
/* text-align: right; */
  display: flex;
  justify-content: flex-end;
}

h2 {
  text-align: center;
  color: #109393;
  font-size: 24px;
  line-height: 19px;
}

.invalid {
  border-color: red;
}

button:disabled {
  background-color: #abb6fa;
  cursor: not-allowed;
}


.error {
  text-align: center;
  color: red;
}